# TOPIC : IMPLEMENTING EDA ON MOVIES DATASET

# importing library

In [1]:
import pandas as pd

# importing dataset

In [2]:
df = pd.read_csv("movies_complete.csv") #to read your csv dataset and assign it to df
df.head(10) #it will only output 5 rows by default but you can fill the bracket of head with how many rows you need

,id,title,tagline,release_date,genres,belongs_to_collection,original_language,budget_musd,revenue_musd,production_companies,production_countries,vote_count,vote_average,popularity,runtime,cast,cast_size,crew_size,director
0,862,Toy Story,NaN,10/30/1995,Animation|Comedy|Family,Toy Story Collection,en,30.0,373.554033,Pixar Animation Studios,United States of America,5415,7.7,21.946943,81.0,Tom Hanks|Tim Allen|Don Rickles|Jim Varney|Wal...,13,106,John Lasseter
1,8844,Jumanji,Roll the dice and unleash the excitement!,12/15/1995,Adventure|Fantasy|Family,NaN,en,65.0,262.797249,TriStar Pictures|Teitler Film|Interscope Commu...,United States of America,2413,6.9,17.015539,104.0,Robin Williams|Jonathan Hyde|Kirsten Dunst|Bra...,26,16,Joe Johnston
2,15602,Grumpier Old Men,Still Yelling. Still Fighting. Still Ready for...,12/22/1995,Romance|Comedy,Grumpy Old Men Collection,en,NaN,NaN,Warner Bros.|Lancaster Gate,United States of America,92,6.5,11.712900,101.0,Walter Matthau|Jack Lemmon|Ann-Margret|Sophia ...,7,4,Howard Deutch
3,31357,Waiting to Exhale,Friends are the people who let you be yourself...,12/22/1995,Comedy|Drama|Romance,NaN,en,16.0,81.452156,Twentieth Century Fox Film Corporation,United States of America,34,6.1,3.859495,127.0,Whitney Houston|Angela Bassett|Loretta Devine|...,10,10,Forest Whitaker
4,11862,Father of the Bride Part II,Just When His World Is Back To Normal... He's ...,2/10/1995,Comedy,Father of the Bride Collection,en,NaN,76.578911,Sandollar Productions|Touchstone Pictures,United States of America,173,5.7,8.387519,106.0,Steve Martin|Diane Keaton|Martin Short|Kimberl...,12,7,Charles Shyer
5,949,Heat,A Los Angeles Crime Saga,12/15/1995,Action|Crime|Drama|Thriller,NaN,en,60.0,187.436818,Regency Enterprises|Forward Pass|Warner Bros.,United States of America,1886,7.7,17.924927,170.0,Al Pacino|Robert De Niro|Val Kilmer|Jon Voight...,65,71,Michael Mann
6,11860,Sabrina,You are cordially invited to the most surprisi...,12/15/1995,Comedy|Romance,NaN,en,58.0,NaN,Paramount Pictures|Scott Rudin Productions|Mir...,Germany|United States of America,141,6.2,6.677277,127.0,Harrison Ford|Julia Ormond|Greg Kinnear|Angie ...,57,53,Sydney Pollack
7,45325,Tom and Huck,The Original Bad Boys.,12/22/1995,Action|Adventure|Drama|Family,NaN,en,NaN,NaN,Walt Disney Pictures,United States of America,45,5.4,2.561161,97.0,Jonathan Taylor Thomas|Brad Renfro|Rachael Lei...,7,4,Peter Hewitt
8,9091,Sudden Death,Terror goes into overtime.,12/22/1995,Action|Adventure|Thriller,NaN,en,35.0,64.350171,Universal Pictures|Imperial Entertainment|Sign...,United States of America,174,5.5,5.231580,106.0,Jean-Claude Van Damme|Powers Boothe|Dorian Har...,6,9,Peter Hyams
9,710,GoldenEye,No limits. No fears. No substitutes.,11/16/1995,Adventure|Action|Thriller,James Bond Collection,en,58.0,352.194034,United Artists|Eon Productions,United Kingdom|United States of America,1194,6.6,14.686036,130.0,Pierce Brosnan|Sean Bean|Izabella Scorupco|Fam...,20,46,Martin Campbell

# Dataset Info

id: id of the movies

title: Name of the movies

tagline: Shortnote about the movie

release_date: Release date of the movie 

genres: Defines genre of the movie

belongs_to_collection: Shows if it is a collection of movies or single one

original_language: Language of the movie

budget_musd: Budget of the movie

revenue_musd: Revenue generated using the movie

production_companies: The company that produced the movie

production_countries: Which country the movie was made

vote_count: Who liked the movie

vote_average: Average of the vote count

popularity: How much people know about this movie

runtime: Time duration of the movie

cast: Real Names of characters acted in the movie

cast_size: How many people acted

crew_size: How many people worked for this movie

director: Who directed the movie

In [3]:
df.shape #no.of columns and rows

(44691, 19)

In [4]:
df.info() #info in dataset

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 44691 entries, 0 to 44690
Data columns (total 19 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   id                     44691 non-null  int64
 1   title                  44691 non-null  object
 2   tagline                20284 non-null  object
 3   release_date           44657 non-null  object
 4   genres                 42586 non-null  object
 5   belongs_to_collection  4463 non-null   object
 6   original_language      44681 non-null  object
 7   budget_musd            8854 non-null   float64
 8   revenue_musd           7385 non-null   float64
 9   production_companies   33356 non-null  object
 10  production_countries   38835 non-null  object
 11  vote_count             44691 non-null  int64
 12  vote_average           42077 non-null  float64
 13  popularity             44691 non-null  float64
 14  runtime                43179 non-null  float64
 15  cast                   42502 non-null  object
 16  cast_size              44691 non-null  int64
 17  crew_size              44691 non-null  int64
 18  director               43960 non-null  object
dtypes: float64(5), int64(4), object(10)
memory usage: 6.5+ MB

In [5]:
df.describe() #returns description of the data in the Dataset

,id,budget_musd,revenue_musd,vote_count,vote_average,popularity,runtime,cast_size,crew_size
count,44691.000000,8854.000000,7385.000000,44691.000000,42077.000000,44691.000000,43179.000000,44691.000000,44691.000000
mean,107186.242845,21.669886,68.968649,111.653778,6.003341,2.957460,97.566850,12.479090,10.313643
std,111806.362236,34.359837,146.608966,495.322313,1.281060,6.040008,34.653409,12.124663,15.892154
min,2.000000,0.000001,0.000001,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000
25%,26033.500000,2.000000,2.405420,3.000000,5.300000,0.402038,86.000000,6.000000,2.000000
50%,59110.000000,8.200000,16.872671,10.000000,6.100000,1.150055,95.000000,10.000000,6.000000
75%,154251.000000,25.000000,67.642693,35.000000,6.800000,3.768882,107.000000,15.000000,12.000000
max,469172.000000,380.000000,2787.965087,14075.000000,10.000000,547.488298,1256.000000,313.000000,435.000000

In [6]:
df.dtypes #datatypes in dataset

id                         int64
title                     object
tagline                   object
release_date              object
genres                    object
belongs_to_collection     object
original_language         object
budget_musd              float64
revenue_musd             float64
production_companies      object
production_countries      object
vote_count                 int64
vote_average             float64
popularity               float64
runtime                  float64
cast                      object
cast_size                  int64
crew_size                  int64
director                  object
dtype: object

# Questions based on the dataset

Q1. Which production company's movie has generated the highest revenue
 
Q2. Which movie has the best vote average 
 
Q3. Which movie has the best vote count 
 
Q4. Which action genre movie has the low budget
 
Q5. Which director has the best vote average 
 
Q6. How many english lang movies present in the dataset 
 
Q7. How many movies during the year 1995 in the dataset
 
Q8. Which movie has the highest popularity
 
Q9. Which movie has the shortest runtime
 
Q10. Which movie has the lowest cast and crew size
 
Q11. Tagline of the lowest vote average movie
 
Q12. Write the production countries of the id 3 in movies dataset

In [7]:
#Data Impurities: duplicates, null values, missing values, random characters, unwanted data

# Null Values

In [8]:
df.isnull().sum()

id                           0
title                        0
tagline                  24407
release_date                34
genres                    2105
belongs_to_collection    40228
original_language           10
budget_musd              35837
revenue_musd             37306
production_companies     11335
production_countries      5856
vote_count                   0
vote_average              2614
popularity                   0
runtime                   1512
cast                      2189
cast_size                    0
crew_size                    0
director                   731
dtype: int64

# Percentage of Null Values

In [9]:
df.isnull().sum()*100/len(df)

id                        0.000000
title                     0.000000
tagline                  54.612786
release_date              0.076078
genres                    4.710121
belongs_to_collection    90.013649
original_language         0.022376
budget_musd              80.188405
revenue_musd             83.475420
production_companies     25.363048
production_countries     13.103309
vote_count                0.000000
vote_average              5.849052
popularity                0.000000
runtime                   3.383232
cast                      4.898078
cast_size                 0.000000
crew_size                 0.000000
director                  1.635676
dtype: float64

# Dropping columns in the data

In [11]:
df_dropped = df.drop('belongs_to_collection', axis=1)
df_dropped.head()

,id,title,tagline,release_date,genres,original_language,budget_musd,revenue_musd,production_companies,production_countries,vote_count,vote_average,popularity,runtime,cast,cast_size,crew_size,director
0,862,Toy Story,NaN,10/30/1995,Animation|Comedy|Family,en,30.0,373.554033,Pixar Animation Studios,United States of America,5415,7.7,21.946943,81.0,Tom Hanks|Tim Allen|Don Rickles|Jim Varney|Wal...,13,106,John Lasseter
1,8844,Jumanji,Roll the dice and unleash the excitement!,12/15/1995,Adventure|Fantasy|Family,en,65.0,262.797249,TriStar Pictures|Teitler Film|Interscope Commu...,United States of America,2413,6.9,17.015539,104.0,Robin Williams|Jonathan Hyde|Kirsten Dunst|Bra...,26,16,Joe Johnston
2,15602,Grumpier Old Men,Still Yelling. Still Fighting. Still Ready for...,12/22/1995,Romance|Comedy,en,NaN,NaN,Warner Bros.|Lancaster Gate,United States of America,92,6.5,11.712900,101.0,Walter Matthau|Jack Lemmon|Ann-Margret|Sophia ...,7,4,Howard Deutch
3,31357,Waiting to Exhale,Friends are the people who let you be yourself...,12/22/1995,Comedy|Drama|Romance,en,16.0,81.452156,Twentieth Century Fox Film Corporation,United States of America,34,6.1,3.859495,127.0,Whitney Houston|Angela Bassett|Loretta Devine|...,10,10,Forest Whitaker
4,11862,Father of the Bride Part II,Just When His World Is Back To Normal... He's ...,2/10/1995,Comedy,en,NaN,76.578911,Sandollar Productions|Touchstone Pictures,United States of America,173,5.7,8.387519,106.0,Steve Martin|Diane Keaton|Martin Short|Kimberl...,12,7,Charles Shyer

# Rename the column

In [13]:
df.rename(columns = {'id':'Id'})

,Id,title,tagline,release_date,genres,belongs_to_collection,original_language,budget_musd,revenue_musd,production_companies,production_countries,vote_count,vote_average,popularity,runtime,cast,cast_size,crew_size,director
0,862,Toy Story,NaN,10/30/1995,Animation|Comedy|Family,Toy Story Collection,en,30.0,373.554033,Pixar Animation Studios,United States of America,5415,7.7,21.946943,81.0,Tom Hanks|Tim Allen|Don Rickles|Jim Varney|Wal...,13,106,John Lasseter
1,8844,Jumanji,Roll the dice and unleash the excitement!,12/15/1995,Adventure|Fantasy|Family,NaN,en,65.0,262.797249,TriStar Pictures|Teitler Film|Interscope Commu...,United States of America,2413,6.9,17.015539,104.0,Robin Williams|Jonathan Hyde|Kirsten Dunst|Bra...,26,16,Joe Johnston
2,15602,Grumpier Old Men,Still Yelling. Still Fighting. Still Ready for...,12/22/1995,Romance|Comedy,Grumpy Old Men Collection,en,NaN,NaN,Warner Bros.|Lancaster Gate,United States of America,92,6.5,11.712900,101.0,Walter Matthau|Jack Lemmon|Ann-Margret|Sophia ...,7,4,Howard Deutch
3,31357,Waiting to Exhale,Friends are the people who let you be yourself...,12/22/1995,Comedy|Drama|Romance,NaN,en,16.0,81.452156,Twentieth Century Fox Film Corporation,United States of America,34,6.1,3.859495,127.0,Whitney Houston|Angela Bassett|Loretta Devine|...,10,10,Forest Whitaker
4,11862,Father of the Bride Part II,Just When His World Is Back To Normal... He's ...,2/10/1995,Comedy,Father of the Bride Collection,en,NaN,76.578911,Sandollar Productions|Touchstone Pictures,United States of America,173,5.7,8.387519,106.0,Steve Martin|Diane Keaton|Martin Short|Kimberl...,12,7,Charles Shyer
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
44686,439050,Subdue,Rising and falling between a man and woman,NaN,Drama|Family,NaN,fa,NaN,NaN,NaN,Iran,1,4.0,0.072051,90.0,Leila Hatami|Kourosh Tahami|Elham Korda,3,9,Hamid Nematollah
44687,111109,Century of Birthing,NaN,11/17/2011,Drama,NaN,tl,NaN,NaN,Sine Olivia,Philippines,3,9.0,0.178241,360.0,Angel Aquino|Perry Dizon|Hazel Orencio|Joel To...,11,6,Lav Diaz
44688,67758,Betrayal,A deadly game of wits.,8/1/2003,Action|Drama|Thriller,NaN,en,NaN,NaN,American World Pictures,United States of America,6,3.8,0.903007,90.0,Erika Eleniak|Adam Baldwin|Julie du Page|James...,15,5,Mark L. Lester
44689,227506,Satan Triumphant,NaN,10/21/1917,NaN,NaN,en,NaN,NaN,Yermoliev,Russia,0,NaN,0.003503,87.0,Iwan Mosschuchin|Nathalie Lissenko|Pavel Pavlo...,5,2,Yakov Protazanov
44690,461257,Queerama,NaN,6/9/2017,NaN,NaN,en,NaN,NaN,NaN,United Kingdom,0,NaN,0.163015,75.0,NaN,0,1,Daisy Asquith

# Rename multiple column

In [15]:
df.rename(columns = {'id':'Id', 'title':'Title', 'tagline':'Tagline', 'release_date':'Release_Date'})

,Id,Title,Tagline,Release_Date,genres,belongs_to_collection,original_language,budget_musd,revenue_musd,production_companies,production_countries,vote_count,vote_average,popularity,runtime,cast,cast_size,crew_size,director
0,862,Toy Story,NaN,10/30/1995,Animation|Comedy|Family,Toy Story Collection,en,30.0,373.554033,Pixar Animation Studios,United States of America,5415,7.7,21.946943,81.0,Tom Hanks|Tim Allen|Don Rickles|Jim Varney|Wal...,13,106,John Lasseter
1,8844,Jumanji,Roll the dice and unleash the excitement!,12/15/1995,Adventure|Fantasy|Family,NaN,en,65.0,262.797249,TriStar Pictures|Teitler Film|Interscope Commu...,United States of America,2413,6.9,17.015539,104.0,Robin Williams|Jonathan Hyde|Kirsten Dunst|Bra...,26,16,Joe Johnston
2,15602,Grumpier Old Men,Still Yelling. Still Fighting. Still Ready for...,12/22/1995,Romance|Comedy,Grumpy Old Men Collection,en,NaN,NaN,Warner Bros.|Lancaster Gate,United States of America,92,6.5,11.712900,101.0,Walter Matthau|Jack Lemmon|Ann-Margret|Sophia ...,7,4,Howard Deutch
3,31357,Waiting to Exhale,Friends are the people who let you be yourself...,12/22/1995,Comedy|Drama|Romance,NaN,en,16.0,81.452156,Twentieth Century Fox Film Corporation,United States of America,34,6.1,3.859495,127.0,Whitney Houston|Angela Bassett|Loretta Devine|...,10,10,Forest Whitaker
4,11862,Father of the Bride Part II,Just When His World Is Back To Normal... He's ...,2/10/1995,Comedy,Father of the Bride Collection,en,NaN,76.578911,Sandollar Productions|Touchstone Pictures,United States of America,173,5.7,8.387519,106.0,Steve Martin|Diane Keaton|Martin Short|Kimberl...,12,7,Charles Shyer
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
44686,439050,Subdue,Rising and falling between a man and woman,NaN,Drama|Family,NaN,fa,NaN,NaN,NaN,Iran,1,4.0,0.072051,90.0,Leila Hatami|Kourosh Tahami|Elham Korda,3,9,Hamid Nematollah
44687,111109,Century of Birthing,NaN,11/17/2011,Drama,NaN,tl,NaN,NaN,Sine Olivia,Philippines,3,9.0,0.178241,360.0,Angel Aquino|Perry Dizon|Hazel Orencio|Joel To...,11,6,Lav Diaz
44688,67758,Betrayal,A deadly game of wits.,8/1/2003,Action|Drama|Thriller,NaN,en,NaN,NaN,American World Pictures,United States of America,6,3.8,0.903007,90.0,Erika Eleniak|Adam Baldwin|Julie du Page|James...,15,5,Mark L. Lester
44689,227506,Satan Triumphant,NaN,10/21/1917,NaN,NaN,en,NaN,NaN,Yermoliev,Russia,0,NaN,0.003503,87.0,Iwan Mosschuchin|Nathalie Lissenko|Pavel Pavlo...,5,2,Yakov Protazanov
44690,461257,Queerama,NaN,6/9/2017,NaN,NaN,en,NaN,NaN,NaN,United Kingdom,0,NaN,0.163015,75.0,NaN,0,1,Daisy Asquith

In [25]:
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from scipy import stats

In [26]:
newdf = df.copy()

In [34]:
df_cleaned_rows = df.dropna()
print("\nDataFrame after dropping rows with any missing values:")
df_cleaned_rows

DataFrame after dropping rows with any missing values:

,id,title,tagline,release_date,genres,belongs_to_collection,original_language,budget_musd,revenue_musd,production_companies,production_countries,vote_count,vote_average,popularity,runtime,cast,cast_size,crew_size,director
9,710,GoldenEye,No limits. No fears. No substitutes.,11/16/1995,Adventure|Action|Thriller,James Bond Collection,en,58.00,352.194034,United Artists|Eon Productions,United Kingdom|United States of America,1194,6.6,14.686036,130.0,Pierce Brosnan|Sean Bean|Izabella Scorupco|Fam...,20,46,Martin Campbell
18,9273,Ace Ventura: When Nature Calls,New animals. New adventures. Same hair.,11/10/1995,Crime|Comedy|Adventure,Ace Ventura Collection,en,30.00,212.385533,O Entertainment|Warner Bros.|Morgan Creek Prod...,United States of America,1128,6.1,8.205448,90.0,Jim Carrey|Ian McNeice|Simon Callow|Maynard Ez...,15,11,Steve Oedekerk
20,8012,Get Shorty,"The mob is tough, but its nothing like show b...",10/20/1995,Comedy|Thriller|Crime,Chili Palmer Collection,en,30.25,115.101622,Jersey Films|Metro-Goldwyn-Mayer (MGM),United States of America,305,6.4,12.669608,105.0,John Travolta|Gene Hackman|Rene Russo|Danny De...,16,26,Barry Sonnenfeld
33,9598,Babe,A little pig goes a long way.,7/18/1995,Fantasy|Drama|Comedy|Family,Babe Collection,en,30.00,254.134910,Universal Pictures|Kennedy Miller Productions,Australia|United States of America,756,6.0,14.404764,89.0,Christine Cavanaugh|Miriam Margolyes|Danny Man...,18,11,Chris Noonan
43,9312,Mortal Kombat,Nothing In This World Has Prepared You For This.,8/18/1995,Action|Fantasy,Mortal Kombat Collection,en,18.00,122.195920,New Line Cinema|Threshold Entertainment,United States of America,452,5.4,10.870138,101.0,Christopher Lambert|Robin Shou|Linden Ashby|Ca...,11,15,Paul W.S. Anderson
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
42562,337339,The Fate of the Furious,Family no more,4/12/2017,Action|Crime|Thriller,The Fast and the Furious Collection,en,250.00,1238.764765,Universal Pictures|Original Film|One Race Films,United States of America,3803,6.8,48.573287,136.0,Vin Diesel|Jason Statham|Dwayne Johnson|Michel...,80,157,F. Gary Gray
42600,260514,Cars 3,"From this moment, everything will change",6/15/2017,Family|Comedy|Animation|Adventure,Cars Collection,en,175.00,350.170057,Walt Disney Pictures|Pixar Animation Studios,United States of America,718,6.6,19.148182,109.0,Owen Wilson|Cristela Alonzo|Chris Cooper|Armie...,41,25,Brian Fee
43294,324852,Despicable Me 3,Oh brother.,6/15/2017,Action|Animation|Adventure|Family|Comedy,Despicable Me Collection,en,80.00,1020.063384,Illumination Entertainment,United States of America,2002,6.2,36.631519,96.0,Steve Carell|Kristen Wiig|Trey Parker|Miranda ...,41,6,Kyle Balda
43549,281338,War for the Planet of the Apes,For freedom. For family. For the planet.,7/11/2017,Drama|Science Fiction|War,Planet of the Apes (Reboot) Collection,en,152.00,369.907963,Chernin Entertainment,Canada|United States of America,1675,6.7,146.161786,140.0,Andy Serkis|Woody Harrelson|Steve Zahn|Karin K...,20,9,Matt Reeves
44095,335988,Transformers: The Last Knight,"For one world to live, the other must die.",6/21/2017,Action|Science Fiction|Thriller|Adventure,Transformers Collection,en,260.00,604.942143,Paramount Pictures|Di Bonaventura Pictures|Ang...,United States of America,1440,6.2,39.186819,149.0,Mark Wahlberg|Josh Duhamel|Laura Haddock|Antho...,110,51,Michael Bay

In [35]:
df_cleaned_columns = df.dropna(axis=1) #axis = 0 is for rows
print("\nDataFrame after dropping columns with any missing values:")
df_cleaned_columns

DataFrame after dropping columns with any missing values:

,id,title,vote_count,popularity,cast_size,crew_size
0,862,Toy Story,5415,21.946943,13,106
1,8844,Jumanji,2413,17.015539,26,16
2,15602,Grumpier Old Men,92,11.712900,7,4
3,31357,Waiting to Exhale,34,3.859495,10,10
4,11862,Father of the Bride Part II,173,8.387519,12,7
...,...,...,...,...,...,...
44686,439050,Subdue,1,0.072051,3,9
44687,111109,Century of Birthing,3,0.178241,11,6
44688,67758,Betrayal,6,0.903007,15,5
44689,227506,Satan Triumphant,0,0.003503,5,2
44690,461257,Queerama,0,0.163015,0,1

In [38]:
df_filled = df.fillna(0)
print("\nDataFrame after filling missing values with 0:")
df_filled

DataFrame after filling missing values with 0:

,id,title,tagline,release_date,genres,belongs_to_collection,original_language,budget_musd,revenue_musd,production_companies,production_countries,vote_count,vote_average,popularity,runtime,cast,cast_size,crew_size,director
0,862,Toy Story,0,10/30/1995,Animation|Comedy|Family,Toy Story Collection,en,30.0,373.554033,Pixar Animation Studios,United States of America,5415,7.7,21.946943,81.0,Tom Hanks|Tim Allen|Don Rickles|Jim Varney|Wal...,13,106,John Lasseter
1,8844,Jumanji,Roll the dice and unleash the excitement!,12/15/1995,Adventure|Fantasy|Family,0,en,65.0,262.797249,TriStar Pictures|Teitler Film|Interscope Commu...,United States of America,2413,6.9,17.015539,104.0,Robin Williams|Jonathan Hyde|Kirsten Dunst|Bra...,26,16,Joe Johnston
2,15602,Grumpier Old Men,Still Yelling. Still Fighting. Still Ready for...,12/22/1995,Romance|Comedy,Grumpy Old Men Collection,en,0.0,0.000000,Warner Bros.|Lancaster Gate,United States of America,92,6.5,11.712900,101.0,Walter Matthau|Jack Lemmon|Ann-Margret|Sophia ...,7,4,Howard Deutch
3,31357,Waiting to Exhale,Friends are the people who let you be yourself...,12/22/1995,Comedy|Drama|Romance,0,en,16.0,81.452156,Twentieth Century Fox Film Corporation,United States of America,34,6.1,3.859495,127.0,Whitney Houston|Angela Bassett|Loretta Devine|...,10,10,Forest Whitaker
4,11862,Father of the Bride Part II,Just When His World Is Back To Normal... He's ...,2/10/1995,Comedy,Father of the Bride Collection,en,0.0,76.578911,Sandollar Productions|Touchstone Pictures,United States of America,173,5.7,8.387519,106.0,Steve Martin|Diane Keaton|Martin Short|Kimberl...,12,7,Charles Shyer
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
44686,439050,Subdue,Rising and falling between a man and woman,0,Drama|Family,0,fa,0.0,0.000000,0,Iran,1,4.0,0.072051,90.0,Leila Hatami|Kourosh Tahami|Elham Korda,3,9,Hamid Nematollah
44687,111109,Century of Birthing,0,11/17/2011,Drama,0,tl,0.0,0.000000,Sine Olivia,Philippines,3,9.0,0.178241,360.0,Angel Aquino|Perry Dizon|Hazel Orencio|Joel To...,11,6,Lav Diaz
44688,67758,Betrayal,A deadly game of wits.,8/1/2003,Action|Drama|Thriller,0,en,0.0,0.000000,American World Pictures,United States of America,6,3.8,0.903007,90.0,Erika Eleniak|Adam Baldwin|Julie du Page|James...,15,5,Mark L. Lester
44689,227506,Satan Triumphant,0,10/21/1917,0,0,en,0.0,0.000000,Yermoliev,Russia,0,0.0,0.003503,87.0,Iwan Mosschuchin|Nathalie Lissenko|Pavel Pavlo...,5,2,Yakov Protazanov
44690,461257,Queerama,0,6/9/2017,0,0,en,0.0,0.000000,0,United Kingdom,0,0.0,0.163015,75.0,0,0,1,Daisy Asquith

In [45]:
df.drop_duplicates

<bound method DataFrame.drop_duplicates of            id                        title  \
0         862                    Toy Story
1        8844                      Jumanji
2       15602             Grumpier Old Men
3       31357            Waiting to Exhale
4       11862  Father of the Bride Part II
...       ...                          ...
44686  439050                       Subdue
44687  111109          Century of Birthing
44688   67758                     Betrayal
44689  227506             Satan Triumphant
44690  461257                     Queerama

                                                 tagline release_date  \
0                                                    NaN   10/30/1995
1              Roll the dice and unleash the excitement!   12/15/1995
2      Still Yelling. Still Fighting. Still Ready for...   12/22/1995
3      Friends are the people who let you be yourself...   12/22/1995
4      Just When His World Is Back To Normal... He's ...    2/10/1995
...                                                  ...          ...
44686         Rising and falling between a man and woman          NaN
44687                                                NaN   11/17/2011
44688                             A deadly game of wits.     8/1/2003
44689                                                NaN   10/21/1917
44690                                                NaN     6/9/2017

                         genres           belongs_to_collection  \
0       Animation|Comedy|Family            Toy Story Collection
1      Adventure|Fantasy|Family                             NaN
2                Romance|Comedy       Grumpy Old Men Collection
3          Comedy|Drama|Romance                             NaN
4                        Comedy  Father of the Bride Collection
...                         ...                             ...
44686              Drama|Family                             NaN
44687                     Drama                             NaN
44688     Action|Drama|Thriller                             NaN
44689                       NaN                             NaN
44690                       NaN                             NaN

      original_language  budget_musd  revenue_musd  \
0                    en         30.0    373.554033
1                    en         65.0    262.797249
2                    en          NaN           NaN
3                    en         16.0     81.452156
4                    en          NaN     76.578911
...                 ...          ...           ...
44686                fa          NaN           NaN
44687                tl          NaN           NaN
44688                en          NaN           NaN
44689                en          NaN           NaN
44690                en          NaN           NaN

                                    production_companies  \
0                                Pixar Animation Studios
1      TriStar Pictures|Teitler Film|Interscope Commu...
2                            Warner Bros.|Lancaster Gate
3                 Twentieth Century Fox Film Corporation
4              Sandollar Productions|Touchstone Pictures
...                                                  ...
44686                                                NaN
44687                                        Sine Olivia
44688                            American World Pictures
44689                                          Yermoliev
44690                                                NaN

           production_countries  vote_count  vote_average  popularity  \
0      United States of America        5415           7.7   21.946943
1      United States of America        2413           6.9   17.015539
2      United States of America          92           6.5   11.712900
3      United States of America          34           6.1    3.859495
4      United States of America         173           5.7    8.387519
...                         ...         ...           ...         ...
44686                      Iran           1           4.0    0.072051
44687               Philippines           3           9.0    0.178241
44688  United States of America           6           3.8    0.903007
44689                    Russia           0           NaN    0.003503
44690            United Kingdom           0           NaN    0.163015

       runtime                                               cast  cast_size  \
0         81.0  Tom Hanks|Tim Allen|Don Rickles|Jim Varney|Wal...         13
1        104.0  Robin Williams|Jonathan Hyde|Kirsten Dunst|Bra...         26
2        101.0  Walter Matthau|Jack Lemmon|Ann-Margret|Sophia ...          7
3        127.0  Whitney Houston|Angela Bassett|Loretta Devine|...         10
4        106.0  Steve Martin|Diane Keaton|Martin Short|Kimberl...         12
...        ...                                                ...        ...
44686     90.0            Leila Hatami|Kourosh Tahami|Elham Korda          3
44687    360.0  Angel Aquino|Perry Dizon|Hazel Orencio|Joel To...         11
44688     90.0  Erika Eleniak|Adam Baldwin|Julie du Page|James...         15
44689     87.0  Iwan Mosschuchin|Nathalie Lissenko|Pavel Pavlo...          5
44690     75.0                                                NaN          0

       crew_size          director
0            106     John Lasseter
1             16      Joe Johnston
2              4     Howard Deutch
3             10   Forest Whitaker
4              7     Charles Shyer
...          ...               ...
44686          9  Hamid Nematollah
44687          6          Lav Diaz
44688          5    Mark L. Lester
44689          2  Yakov Protazanov
44690          1     Daisy Asquith

[44691 rows x 19 columns]>

In [47]:
df.describe()

,id,budget_musd,revenue_musd,vote_count,vote_average,popularity,runtime,cast_size,crew_size
count,44691.000000,8854.000000,7385.000000,44691.000000,42077.000000,44691.000000,43179.000000,44691.000000,44691.000000
mean,107186.242845,21.669886,68.968649,111.653778,6.003341,2.957460,97.566850,12.479090,10.313643
std,111806.362236,34.359837,146.608966,495.322313,1.281060,6.040008,34.653409,12.124663,15.892154
min,2.000000,0.000001,0.000001,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000
25%,26033.500000,2.000000,2.405420,3.000000,5.300000,0.402038,86.000000,6.000000,2.000000
50%,59110.000000,8.200000,16.872671,10.000000,6.100000,1.150055,95.000000,10.000000,6.000000
75%,154251.000000,25.000000,67.642693,35.000000,6.800000,3.768882,107.000000,15.000000,12.000000
max,469172.000000,380.000000,2787.965087,14075.000000,10.000000,547.488298,1256.000000,313.000000,435.000000

In [52]:
# Dropping irrelevant columns
df_cleaned = df.drop(columns=['belongs_to_collection','production_countries' ])
print("\nDataFrame after dropping irrelevant columns:")
df_cleaned

DataFrame after dropping irrelevant columns:

,id,title,tagline,release_date,genres,original_language,budget_musd,revenue_musd,production_companies,vote_count,vote_average,popularity,runtime,cast,cast_size,crew_size,director
0,862,Toy Story,NaN,10/30/1995,Animation|Comedy|Family,en,30.0,373.554033,Pixar Animation Studios,5415,7.7,21.946943,81.0,Tom Hanks|Tim Allen|Don Rickles|Jim Varney|Wal...,13,106,John Lasseter
1,8844,Jumanji,Roll the dice and unleash the excitement!,12/15/1995,Adventure|Fantasy|Family,en,65.0,262.797249,TriStar Pictures|Teitler Film|Interscope Commu...,2413,6.9,17.015539,104.0,Robin Williams|Jonathan Hyde|Kirsten Dunst|Bra...,26,16,Joe Johnston
2,15602,Grumpier Old Men,Still Yelling. Still Fighting. Still Ready for...,12/22/1995,Romance|Comedy,en,NaN,NaN,Warner Bros.|Lancaster Gate,92,6.5,11.712900,101.0,Walter Matthau|Jack Lemmon|Ann-Margret|Sophia ...,7,4,Howard Deutch
3,31357,Waiting to Exhale,Friends are the people who let you be yourself...,12/22/1995,Comedy|Drama|Romance,en,16.0,81.452156,Twentieth Century Fox Film Corporation,34,6.1,3.859495,127.0,Whitney Houston|Angela Bassett|Loretta Devine|...,10,10,Forest Whitaker
4,11862,Father of the Bride Part II,Just When His World Is Back To Normal... He's ...,2/10/1995,Comedy,en,NaN,76.578911,Sandollar Productions|Touchstone Pictures,173,5.7,8.387519,106.0,Steve Martin|Diane Keaton|Martin Short|Kimberl...,12,7,Charles Shyer
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
44686,439050,Subdue,Rising and falling between a man and woman,NaN,Drama|Family,fa,NaN,NaN,NaN,1,4.0,0.072051,90.0,Leila Hatami|Kourosh Tahami|Elham Korda,3,9,Hamid Nematollah
44687,111109,Century of Birthing,NaN,11/17/2011,Drama,tl,NaN,NaN,Sine Olivia,3,9.0,0.178241,360.0,Angel Aquino|Perry Dizon|Hazel Orencio|Joel To...,11,6,Lav Diaz
44688,67758,Betrayal,A deadly game of wits.,8/1/2003,Action|Drama|Thriller,en,NaN,NaN,American World Pictures,6,3.8,0.903007,90.0,Erika Eleniak|Adam Baldwin|Julie du Page|James...,15,5,Mark L. Lester
44689,227506,Satan Triumphant,NaN,10/21/1917,NaN,en,NaN,NaN,Yermoliev,0,NaN,0.003503,87.0,Iwan Mosschuchin|Nathalie Lissenko|Pavel Pavlo...,5,2,Yakov Protazanov
44690,461257,Queerama,NaN,6/9/2017,NaN,en,NaN,NaN,NaN,0,NaN,0.163015,75.0,NaN,0,1,Daisy Asquith

In [53]:
# Converting to a consistent date format
df['Date'] = pd.to_datetime(df['release_date'], errors='coerce')
print("\nDataFrame after converting to a consistent date format:")
df

DataFrame after converting to a consistent date format:

,id,title,tagline,release_date,genres,belongs_to_collection,original_language,budget_musd,revenue_musd,production_companies,production_countries,vote_count,vote_average,popularity,runtime,cast,cast_size,crew_size,director,Date
0,862,Toy Story,NaN,10/30/1995,Animation|Comedy|Family,Toy Story Collection,en,30.0,373.554033,Pixar Animation Studios,United States of America,5415,7.7,21.946943,81.0,Tom Hanks|Tim Allen|Don Rickles|Jim Varney|Wal...,13,106,John Lasseter,1995-10-30
1,8844,Jumanji,Roll the dice and unleash the excitement!,12/15/1995,Adventure|Fantasy|Family,NaN,en,65.0,262.797249,TriStar Pictures|Teitler Film|Interscope Commu...,United States of America,2413,6.9,17.015539,104.0,Robin Williams|Jonathan Hyde|Kirsten Dunst|Bra...,26,16,Joe Johnston,1995-12-15
2,15602,Grumpier Old Men,Still Yelling. Still Fighting. Still Ready for...,12/22/1995,Romance|Comedy,Grumpy Old Men Collection,en,NaN,NaN,Warner Bros.|Lancaster Gate,United States of America,92,6.5,11.712900,101.0,Walter Matthau|Jack Lemmon|Ann-Margret|Sophia ...,7,4,Howard Deutch,1995-12-22
3,31357,Waiting to Exhale,Friends are the people who let you be yourself...,12/22/1995,Comedy|Drama|Romance,NaN,en,16.0,81.452156,Twentieth Century Fox Film Corporation,United States of America,34,6.1,3.859495,127.0,Whitney Houston|Angela Bassett|Loretta Devine|...,10,10,Forest Whitaker,1995-12-22
4,11862,Father of the Bride Part II,Just When His World Is Back To Normal... He's ...,2/10/1995,Comedy,Father of the Bride Collection,en,NaN,76.578911,Sandollar Productions|Touchstone Pictures,United States of America,173,5.7,8.387519,106.0,Steve Martin|Diane Keaton|Martin Short|Kimberl...,12,7,Charles Shyer,1995-02-10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
44686,439050,Subdue,Rising and falling between a man and woman,NaN,Drama|Family,NaN,fa,NaN,NaN,NaN,Iran,1,4.0,0.072051,90.0,Leila Hatami|Kourosh Tahami|Elham Korda,3,9,Hamid Nematollah,NaT
44687,111109,Century of Birthing,NaN,11/17/2011,Drama,NaN,tl,NaN,NaN,Sine Olivia,Philippines,3,9.0,0.178241,360.0,Angel Aquino|Perry Dizon|Hazel Orencio|Joel To...,11,6,Lav Diaz,2011-11-17
44688,67758,Betrayal,A deadly game of wits.,8/1/2003,Action|Drama|Thriller,NaN,en,NaN,NaN,American World Pictures,United States of America,6,3.8,0.903007,90.0,Erika Eleniak|Adam Baldwin|Julie du Page|James...,15,5,Mark L. Lester,2003-08-01
44689,227506,Satan Triumphant,NaN,10/21/1917,NaN,NaN,en,NaN,NaN,Yermoliev,Russia,0,NaN,0.003503,87.0,Iwan Mosschuchin|Nathalie Lissenko|Pavel Pavlo...,5,2,Yakov Protazanov,1917-10-21
44690,461257,Queerama,NaN,6/9/2017,NaN,NaN,en,NaN,NaN,NaN,United Kingdom,0,NaN,0.163015,75.0,NaN,0,1,Daisy Asquith,2017-06-09

In [54]:
df.duplicated

<bound method DataFrame.duplicated of            id                        title  \
0         862                    Toy Story
1        8844                      Jumanji
2       15602             Grumpier Old Men
3       31357            Waiting to Exhale
4       11862  Father of the Bride Part II
...       ...                          ...
44686  439050                       Subdue
44687  111109          Century of Birthing
44688   67758                     Betrayal
44689  227506             Satan Triumphant
44690  461257                     Queerama

                                                 tagline release_date  \
0                                                    NaN   10/30/1995
1              Roll the dice and unleash the excitement!   12/15/1995
2      Still Yelling. Still Fighting. Still Ready for...   12/22/1995
3      Friends are the people who let you be yourself...   12/22/1995
4      Just When His World Is Back To Normal... He's ...    2/10/1995
...                                                  ...          ...
44686         Rising and falling between a man and woman          NaN
44687                                                NaN   11/17/2011
44688                             A deadly game of wits.     8/1/2003
44689                                                NaN   10/21/1917
44690                                                NaN     6/9/2017

                         genres           belongs_to_collection  \
0       Animation|Comedy|Family            Toy Story Collection
1      Adventure|Fantasy|Family                             NaN
2                Romance|Comedy       Grumpy Old Men Collection
3          Comedy|Drama|Romance                             NaN
4                        Comedy  Father of the Bride Collection
...                         ...                             ...
44686              Drama|Family                             NaN
44687                     Drama                             NaN
44688     Action|Drama|Thriller                             NaN
44689                       NaN                             NaN
44690                       NaN                             NaN

      original_language  budget_musd  revenue_musd  \
0                    en         30.0    373.554033
1                    en         65.0    262.797249
2                    en          NaN           NaN
3                    en         16.0     81.452156
4                    en          NaN     76.578911
...                 ...          ...           ...
44686                fa          NaN           NaN
44687                tl          NaN           NaN
44688                en          NaN           NaN
44689                en          NaN           NaN
44690                en          NaN           NaN

                                    production_companies  \
0                                Pixar Animation Studios
1      TriStar Pictures|Teitler Film|Interscope Commu...
2                            Warner Bros.|Lancaster Gate
3                 Twentieth Century Fox Film Corporation
4              Sandollar Productions|Touchstone Pictures
...                                                  ...
44686                                                NaN
44687                                        Sine Olivia
44688                            American World Pictures
44689                                          Yermoliev
44690                                                NaN

           production_countries  vote_count  vote_average  popularity  \
0      United States of America        5415           7.7   21.946943
1      United States of America        2413           6.9   17.015539
2      United States of America          92           6.5   11.712900
3      United States of America          34           6.1    3.859495
4      United States of America         173           5.7    8.387519
...                         ...         ...           ...         ...
44686                      Iran           1           4.0    0.072051
44687               Philippines           3           9.0    0.178241
44688  United States of America           6           3.8    0.903007
44689                    Russia           0           NaN    0.003503
44690            United Kingdom           0           NaN    0.163015

       runtime                                               cast  cast_size  \
0         81.0  Tom Hanks|Tim Allen|Don Rickles|Jim Varney|Wal...         13
1        104.0  Robin Williams|Jonathan Hyde|Kirsten Dunst|Bra...         26
2        101.0  Walter Matthau|Jack Lemmon|Ann-Margret|Sophia ...          7
3        127.0  Whitney Houston|Angela Bassett|Loretta Devine|...         10
4        106.0  Steve Martin|Diane Keaton|Martin Short|Kimberl...         12
...        ...                                                ...        ...
44686     90.0            Leila Hatami|Kourosh Tahami|Elham Korda          3
44687    360.0  Angel Aquino|Perry Dizon|Hazel Orencio|Joel To...         11
44688     90.0  Erika Eleniak|Adam Baldwin|Julie du Page|James...         15
44689     87.0  Iwan Mosschuchin|Nathalie Lissenko|Pavel Pavlo...          5
44690     75.0                                                NaN          0

       crew_size          director       Date
0            106     John Lasseter 1995-10-30
1             16      Joe Johnston 1995-12-15
2              4     Howard Deutch 1995-12-22
3             10   Forest Whitaker 1995-12-22
4              7     Charles Shyer 1995-02-10
...          ...               ...        ...
44686          9  Hamid Nematollah        NaT
44687          6          Lav Diaz 2011-11-17
44688          5    Mark L. Lester 2003-08-01
44689          2  Yakov Protazanov 1917-10-21
44690          1     Daisy Asquith 2017-06-09

[44691 rows x 20 columns]>